#sidebar-nav
{
  background-color:rgba(0,44,88,0.8);
}

.blue-background{
  background-color:#C3E7F5;
}

.gray-background{
  background-color:#3B3A40;
}

.white-background{
  background-color:#FFF;
}

.inherit {
  background:inherit;
}

.icon-bar {
  background-color: #FFE212;
}

.nav li a
{
  font-weight:700;
  color:#007FFF;
  transition:color .5s ease-in;
}

.nav li a:hover
{
  font-weight:700;
  color:#FFF;
  background-color:rgba(0,44,88,0);
}

.nav li.active a
{
  color:#900;
  font-weight:700;
}

.pull-right a:hover
{
  color:#FFF !important;
  transition:color .5s ease-in;
}

.jumbotron
{
  margin-bottom:0;
}

.navbar-toggle {
  border: 1px solid #FFE212;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter
{
  display: flex;
  align-items: center;
}

.window-height {
  padding-top:75px;
  padding-bottom:75px;
}

#topbckgrd
{
  background-size:cover;
  background-color:#002C58;
}

#top
{
  background:inherit;
  color:#FFF;
}

#about
{
  background-color:inherit;
}

#projects
{
  background-color:inherit;
}

#misc
{
  background-color:inherit;
}

#footer
{
  background-color:inherit;
  color:#77747F;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
